on:
  push:
    branches:
      - main

jobs:
  test:
    name: Test on gcc (Meson wrap)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Tools and Dependencies install
        run: |
          set -euo pipefail
          sudo apt-get update -y >/dev/null
          sudo apt-get install -y \
          git \
          curl \
          unzip \
          build-essential \
          meson \
          ninja-build \
          pkg-config \
          libsdl2-2.0-0 \
          libsdl2-dev \
          libsdl2-image-dev

      - name: Meson check
        run: | 
          set -euo pipefail
          meson --version || { echo "meson not found! :( " }; exit 1;
        
      - name: Build check program
        run: |
          meson setup builddir
          meson compile -C builddir
          ls -la builddir
