on: 
  push:
    branches:
      - main
jobs:
  test:
    name: Test on gcc
    runs-on: ubuntu-latest
    steps:
    - name: sdl2 install and run
      run: |
        sudo apt update
        sudo apt upgrade -y
        sudo apt install build-essential meson ninja-build -y
        mkdir subprojects
        meson wrap install sdl2
        meson setup builddir
        meson compile -C builddir
